:root {
    --primary: #222632;
    --white: #f0f8ff;
    --selection: #bcd4ff;
}
::selection {
    background-color: var(--selection);
    color: var(--white);
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    appearance: none;
}
*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #fff;
}
*::-webkit-scrollbar-thumb {
    border-radius: 50rem;
    background-color: var(--primary);
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) #333949;
}
html,
body {
    min-width: 260px;
    min-height: 100vh;
}
body {
    overflow-x: hidden;
    background-color: var(--primary);
    color: var(--white);
}
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
#con {
    padding: 0 1%;
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    > h2 {
        margin-left: 20px;
        font-weight: 300;
    }
    .box {
        border-radius: 8px;
        padding: 16px 10px;
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.589);
        margin-bottom: 15px;
        position: relative;
        font-size: 13px;

        .bx {
            color: #6d788b;
            span {
                color: #3e4858;
                margin-right: 20px;
                font-size: 15px;
            }
        }
    }
}
.block {
    background-color: #fff;
    width: 500px;
    height: 500px;
}
