@import "./variables";

::selection {
    background-color: $selection;
    color: $white;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    appearance: none;
}
*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: $whitef;
}
*::-webkit-scrollbar-thumb {
    border-radius: 50rem;
    background-color: $primary;
}
* {
    scrollbar-width: thin;
    scrollbar-color: $primary $secondary;
}
html,
body {
    min-width: 260px;
    min-height: 100vh;
}
body {
    overflow-x: hidden;
    background-color: $primary;
    color: $white;
}
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
#con {
    padding: 0 1%;
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    > h2 {
        margin-left: 20px;
        font-weight: 300;
    }
    .box {
        border-radius: 8px;
        padding: 16px 10px;
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.589);
        margin-bottom: 15px;
        position: relative;
        font-size: 13px;
    }
}
